<div class="container">
    <h1 style="text-align: center;">Welcome to ECommerce</h1>


    <a [routerLink]="['/list-products']"> List </a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/add-product']"> Add Product </a> &nbsp;&nbsp;&nbsp;&nbsp;

    <br><hr><br>

    <router-outlet></router-outlet>


<!-- <h4>Pipe Example</h4>
<h4>1. Today is {{today}}</h4>
<h4>2. Today is {{today | date }}</h4>
<h4>3. Today is {{today | date:"dd/MM/yyyy"}}</h4> -->

</div>

<!-- <addproduct-v1></addproduct-v1>
<br>
<productlist-v1></productlist-v1>

<hr><hr><br>
<addproduct></addproduct>

<br>
<productlist></productlist> -->